	* {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	body,
	html {
		font-family: "微软雅黑";
		width: 100%;
		height: auto;
		max-width: 720px;
		min-width: 320px;
		margin: 0 auto;
		text-align: center;
	}
	
	
	img {
		/*display: block;*/
		draggable: false;
	}
	
	input[type="button"],
	input[type="submit"],
	input[type="reset"] {
		-webkit-appearance: none;
	}
	
	a {
		text-decoration: none;
		color: #000;
	}
	
	.zz {
		background: rgba(0, 0, 0, 1);
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		text-align: center;
		opacity: 0.99;
		z-index: 999999999;
	}
	
	.zz .loader3 {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -35px;
		margin-left: -35px;
	}
	
	.loader3 {
		width: 70px;
		height: 70px;
		display: inline-block;
		padding: 0px;
		text-align: left;
	}
	
	.loader3 span {
		position: absolute;
		display: inline-block;
		width: 70px;
		height: 70px;
		border-radius: 100%;
		background: #77BAE7;
		-webkit-animation: loader3 1.5s linear infinite;
		animation: loader3 1.5s linear infinite;
	}
	
	.loader3 span:last-child {
		animation-delay: -0.9s;
		-webkit-animation-delay: -0.9s;
	}
	
	@keyframes loader3 {
		0% {
			transform: scale(0, 0);
			opacity: 0.8;
		}
		100% {
			transform: scale(1, 1);
			opacity: 0;
		}
	}
	
	@-webkit-keyframes loader3 {
		0% {
			-webkit-transform: scale(0, 0);
			opacity: 0.8;
		}
		100% {
			-webkit-transform: scale(1, 1);
			opacity: 0;
		}
	}
	
	@media screen and (orientation:portrait) {
		.lock_wrp {
			display: none!important;
		}
	}
	
	@-webkit-keyframes iphone {
		0% {
			-webkit-transform: rotate(-90deg);
		}
		25% {
			-webkit-transform: rotate(0deg);
		}
		50% {
			-webkit-transform: rotate(0deg);
		}
		75% {
			-webkit-transform: rotate(-90deg);
		}
		100% {
			-webkit-transform: rotate(-90deg);
		}
	}
	
	@-moz-keyframes iphone {
		0% {
			-moz-transform: rotate(-90deg);
		}
		25% {
			-moz-transform: rotate(0deg);
		}
		50% {
			-moz-transform: rotate(0deg);
		}
		75% {
			-moz-transform: rotate(-90deg);
		}
		100% {
			-moz-transform: rotate(-90deg);
		}
	}
	
	@-o-keyframes iphone {
		0% {
			-o-transform: rotate(-90deg);
		}
		25% {
			-o-transform: rotate(0deg);
		}
		50% {
			-o-transform: rotate(0deg);
		}
		75% {
			-o-transform: rotate(-90deg);
		}
		100% {
			-o-transform: rotate(-90deg);
		}
	}
	
	@-ms-keyframes iphone {
		0% {
			-ms-transform: rotate(-90deg);
		}
		25% {
			-ms-transform: rotate(0deg);
		}
		50% {
			-ms-transform: rotate(0deg);
		}
		75% {
			-ms-transform: rotate(-90deg);
		}
		100% {
			-ms-transform: rotate(-90deg);
		}
	}
	
	@keyframes iphone {
		0% {
			transform: rotate(-90deg);
		}
		25% {
			transform: rotate(0deg);
		}
		50% {
			transform: rotate(0deg);
		}
		75% {
			transform: rotate(-90deg);
		}
		100% {
			transform: rotate(-90deg);
		}
	}
	
	.lock_wrp {
		position: fixed;
		display: none;
		width: 100%;
		height: 100%;
		overflow: hidden;
		left: 0;
		top: 0;
		background-color: #77BAE7;
		color: rgba(255, 255, 255, .8);
		z-index: 999999;
	}
	
	.lock {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 250px;
		height: 150px;
		margin: -75px 0 0 -125px;
		text-align: center;
	}
	
	.lock i {
		position: relative;
		display: block;
		width: 74px;
		height: 110px;
		background: url(../img/iphone.png) 0 0 no-repeat;
		background-size: 100%;
		margin: 0 auto;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		-webkit-animation: iphone 1.6s ease-in infinite;
		-moz-animation: iphone 1.6s ease-in infinite;
		-o-animation: iphone 1.6s ease-in infinite;
		-ms-animation: iphone 1.6s ease-in infinite;
		animation: iphone 1.6s ease-in infinite;
	}
	
	.loader5 {
		display: inline-block;
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 15px solid #4183D7;
		border-top: 15px solid #F5AB35;
		-webkit-animation: loader5 1.2s ease-in-out infinite alternate;
		animation: loader5 1.2s ease-in-out infinite alternate;
	}
	
	@keyframes loader5 {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(720deg);
		}
	}
	
	@-webkit-keyframes loader5 {
		from {
			-webkit-transform: rotate(0deg);
		}
		to {
			-webkit-transform: rotate(720deg);
		}
	}
	
	#sound_image {
		-webkit-animation: router 1s infinite linear both;
		animation-play-state: running;
		-webkit-animation-play-state: running;
	}
	
	@-webkit-keyframes router {
		0% {
			transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
			-webkit-transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
			-moz-transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
			-webkit-animation-timing-function: linear;
			opacity: 1;
		}
		100% {
			transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(360deg);
			-webkit-transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(360deg);
			-moz-transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(360deg);
			-webkit-animation-timing-function: linear;
			opacity: 1;
		}
	}
	
	@-webkit-keyframes arrow {
		0% {
			-webkit-transform: translate3d(0, 62px, 0);
			opacity: 0
		}
		60% {
			-webkit-transform: translate3d(0, 12px, 0);
			opacity: 1
		}
		100% {
			-webkit-transform: translate3d(0, 0, 0);
			opacity: 0
		}
	}
	
	@keyframes arrow {
		0% {
			transform: translate3d(0, 62px, 0);
			opacity: 0
		}
		60% {
			transform: translate3d(0, 12px, 0);
			opacity: 1
		}
		100% {
			transform: translate3d(0, 0, 0);
			opacity: 0
		}
	}
	
	@-ms-keyframes arrow {
		0% {
			-ms-transform: translate3d(0, 62px, 0);
			opacity: 0
		}
		60% {
			-ms-transform: translate3d(0, 12px, 0);
			opacity: 1
		}
		100% {
			-ms-transform: translate3d(0, 0, 0);
			opacity: 0
		}
	}
	
	@-moz-keyframes arrow {
		0% {
			-moz-transform: translate3d(0, 62px, 0);
			opacity: 0
		}
		60% {
			-moz-transform: translate3d(0, 12px, 0);
			opacity: 1
		}
		100% {
			-moz-transform: translate3d(0, 0, 0);
			opacity: 0
		}
	}
	
	@-webkit-keyframes arrow2 {
		0% {
			-webkit-box-shadow: 0 0 9px #ADFF2F;
			-webkit-transform: translate3d(0, 62px, 0);
			opacity: 0
		}
		60% {
			-webkit-box-shadow: 0 0 18px yellow;
			-webkit-transform: translate3d(0, 12px, 0);
			opacity: 1
		}
		100% {
			-webkit-box-shadow: 0 0 9px #ADFF2F;
			-webkit-transform: translate3d(0, 0, 0);
			opacity: 0
		}
	}
	
	@keyframes arrow2 {
		0% {
			box-shadow: 0 0 9px #ADFF2F;
			transform: translate3d(0, 62px, 0);
			opacity: 0
		}
		60% {
			box-shadow: 0 0 18px yellow;
			transform: translate3d(0, 12px, 0);
			opacity: 1
		}
		100% {
			box-shadow: 0 0 9px #ADFF2F;
			transform: translate3d(0, 0, 0);
			opacity: 0
		}
	}
	
	@-ms-keyframes arrow2 {
		0% {
			box-shadow: 0 0 9px #ADFF2F;
			-ms-transform: translate3d(0, 62px, 0);
			opacity: 0
		}
		60% {
			-ms-transform: translate3d(0, 12px, 0);
			opacity: 1
		}
		100% {
			-ms-transform: translate3d(0, 0, 0);
			opacity: 0
		}
	}
	
	@-moz-keyframes arrow2 {
		0% {
			box-shadow: 0 0 9px #ADFF2F;
			-moz-transform: translate3d(0, 62px, 0);
			opacity: 0
		}
		60% {
			box-shadow: 0 0 18px yellow;
			-moz-transform: translate3d(0, 12px, 0);
			opacity: 1
		}
		100% {
			box-shadow: 0 0 9px #ADFF2F;
			-moz-transform: translate3d(0, 0, 0);
			opacity: 0
		}
	}